body {
  font-family: "Roboto", sans-serif;
  background-color: bisque;
}

/* TABELLA */
.title {
  margin-top: 20px;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
#tabellone-container {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  width: 650px;
  border: 2px solid black;
  box-shadow: 5px 10px 8px #888888;
}

.number {
  flex: calc(100% / 11);
  text-align: center;
  padding: 25px 0;
  border: 1px solid black;
}

/* BOTTONE */
.extractBtn {
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
  padding: 8px 10px;
  border-radius: 3px;
  border: 2px solid blue;
  font-size: large;
  color: white;
  background-color: black;
}

/* TABELLINA */

#tabellina-container {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  width: 650px;
  border: 2px solid black;
  box-shadow: 5px 10px 8px #888888;
}
.miniNumber {
  flex: calc(100% / 9);
  text-align: center;
  padding: 25px 0;
  border: 1px solid black;
}
