@mixin floating(
  $radius: 10px,
  $shadow: 0 4px 8px rgba(0, 0, 0, 0.3),
  $border: none
) {
  border-radius: $radius;
  box-shadow: $shadow;
  border: $border;
}

@mixin grid($direction) {
  display: flex;
  flex-direction: $direction;
}
