<nav class="navbar navbar-expand-md navbar-dark bg-dark py-3">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold fs-4 fw-bold">SchipFlix</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            *ngIf="!isUserLoggedIn"
            routerLink="/"
            routerLinkActive="active"
          >
            Login
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            *ngIf="!isUserLoggedIn"
            routerLink="/register"
          >
            Register
          </a>
        </li>

        <li class="nav-link dropdown" *ngIf="isUserLoggedIn">
          <a
            class="nav-link dropdown-toggle text-white"
            (click)="show = !show"
            role="button"
            aria-expanded="false"
          >
            <fa-icon [icon]="faUser" class="fs-5"></fa-icon>
          </a>
          <ul
            class="dropdown-menu"
            [class.show]="show"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <a class="dropdown-item" routerLink="/userProfile"
                >User Profile</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" routerLink="/movieList">Movie List</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" routerLink="/registeredUser"
                >Registered User</a
              >
            </li>
          </ul>
        </li>
      </ul>

      <button *ngIf="isUserLoggedIn" class="btn btn-danger" (click)="logout()">
        <fa-icon [icon]="faexit"></fa-icon>
      </button>
    </div>
  </div>
</nav>
