<div *ngFor="let user of users" class="container border rounded mb-3 shadow">
  <div class="row">
    <img class="col-4" [src]="user.image" alt="" />
    <div class="row-column col-8">
      <div class="col">
        <h5 class="fw-bold mt-1">{{ user.firstName }} {{ user.lastName }}</h5>
        <p>-> {{ user.title }}</p>
      </div>
      <div class="col">
        <p *ngIf="!user.todos || user.todos.length === 0" class="fw-bold">
          Nessuna todo trovato per questo utente.
        </p>

        <div
          *ngFor="let todo of user.todos"
          class="border mb-3 rounded p-2"
          [ngClass]="{
            'border-success': todo.completed,
            'border-danger': !todo.completed
          }"
        >
          <div class="m-1">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                [(ngModel)]="todo.completed"
                value=""
                id="flexCheckDefault"
                [checked]="todo.completed"
              />
              <h5 class="fw-bold">{{ todo.todo }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
