/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.padding-block-sm {
  padding-block: 5px;
}

.margin-block-sm {
  margin-block: 5px;
}

.padding-block-normal {
  padding-block: 10px;
}

.margin-block-normal {
  margin-block: 10px;
}

.padding-block-md {
  padding-block: 15px;
}

.margin-block-md {
  margin-block: 15px;
}

.padding-block-lg {
  padding-block: 25px;
}

.margin-block-lg {
  margin-block: 25px;
}

.padding-block-xl {
  padding-block: 40px;
}

.margin-block-xl {
  margin-block: 40px;
}

.padding-block-xxl {
  padding-block: 50px;
}

.margin-block-xxl {
  margin-block: 50px;
}

.padding-inline-sm {
  padding-inline: 5px;
}

.margin-inline-sm {
  margin-inline: 5px;
}

.padding-inline-normal {
  padding-inline: 10px;
}

.margin-inline-normal {
  margin-inline: 10px;
}

.padding-inline-md {
  padding-inline: 15px;
}

.margin-inline-md {
  margin-inline: 15px;
}

.padding-inline-lg {
  padding-inline: 25px;
}

.margin-inline-lg {
  margin-inline: 25px;
}

.padding-inline-xl {
  padding-inline: 40px;
}

.margin-inline-xl {
  margin-inline: 40px;
}

.padding-inline-xxl {
  padding-inline: 50px;
}

.margin-inline-xxl {
  margin-inline: 50px;
}

.btn-primary {
  background-color: #0e6cff;
  border: none;
  padding: 10px;
  border-radius: 10px;
  color: #f4f4f4;
}

.btn-secondary {
  background-color: #ff8700;
  border: none;
  padding: 10px;
  border-radius: 10px;
  color: #f4f4f4;
}

.btn-tertiary {
  background-color: #4caf50;
  border: none;
  padding: 10px;
  border-radius: 10px;
  color: #f4f4f4;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #640fc5;
}
#nav-bar p {
  color: #f4f4f4;
  font-size: 20px;
  font-weight: 400;
}
#nav-bar ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}
#nav-bar ul a {
  color: #f4f4f4;
  text-decoration: none;
}

#main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #640fc5;
}
#main div.col:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  flex-basis: 50%;
}
@media screen and (max-width: 1200px) {
  #main div.col:nth-of-type(1) {
    flex-basis: 100%;
    padding: 50px 0;
  }
}
#main div.col:nth-of-type(1) h1 {
  font-size: 60px;
  font-weight: 550;
  animation-name: animate-from-top-uytfxen;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 300ms;
  max-width: 50%;
}
@keyframes animate-from-top-uytfxen {
  from {
    opacity: 0;
    translate: 0 -10px;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
@media screen and (max-width: 526px) {
  #main div.col:nth-of-type(1) h1 {
    font-size: 50px;
    font-weight: 550;
    max-width: 80%;
  }
}
#main div.col:nth-of-type(1) p {
  max-width: 80%;
  color: #f4f4f4;
  font-size: 20px;
  font-weight: 400;
}
@media screen and (max-width: 526px) {
  #main div.col:nth-of-type(1) p {
    font-size: 16px;
    font-weight: 400;
  }
}
#main div.col:nth-of-type(1) div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}
#main div.col:nth-of-type(1) div button:first-of-type {
  animation-name: animate-from-top-uytfxey;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 800ms;
}
@keyframes animate-from-top-uytfxey {
  from {
    opacity: 0;
    translate: 0 -10px;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
#main div.col:nth-of-type(1) div button:nth-of-type(2) {
  animation-name: animate-from-top-uytfxfy;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 900ms;
}
@keyframes animate-from-top-uytfxfy {
  from {
    opacity: 0;
    translate: 0 -10px;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
#main div.col:nth-of-type(1) div button:last-of-type {
  animation-name: animate-from-top-uytfxg1;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 1000ms;
}
@keyframes animate-from-top-uytfxg1 {
  from {
    opacity: 0;
    translate: 0 -10px;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
#main img {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border: none;
  animation-name: animate-from-top-uytfxgx;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 500ms;
  position: relative;
  top: 30px;
  right: 100px;
  height: 600px;
  width: 600px;
}
@keyframes animate-from-top-uytfxgx {
  from {
    opacity: 0;
    translate: 0 100%;
  }
  to {
    opacity: 1;
    translate: 0 20%;
  }
}
@media screen and (max-width: 1200px) {
  #main img {
    display: none;
  }
}

section {
  margin-top: 150px;
}
@media screen and (max-width: 1200px) {
  section {
    margin-top: 50px;
  }
}
section div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex: 1 1 calc(25% - 10px);
}
@media screen and (max-width: 1200px) {
  section div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 1 calc(50% - 20px);
    gap: 20px;
  }
}
@media screen and (max-width: 526px) {
  section div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
  }
}
section div img {
  width: 70%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border: none;
}

/*# sourceMappingURL=style.css.map */
