<div
  class="border mb-3 rounded p-2"
  [ngClass]="{
    'border-success': snglTodo.completed,
    'border-danger': !snglTodo.completed
  }"
>
  <div class="m-1">
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        [(ngModel)]="snglTodo.completed"
        id="flexCheckDefault"
        [checked]="snglTodo.completed"
        (change)="onTodoStatusChange()"
      />
      <h5 class="fw-bold">{{ snglTodo.todo }}</h5>
      <p class="mb-0">
        Assigned to:
        <span class="fw-bold">{{ snglTodo.username }} </span>
      </p>
    </div>
  </div>
</div>
