$spacings-directions: (
  block: "block",
  inline: "inline",
);
$spacings-sizes: (
  sm: 5px,
  normal: 10px,
  md: 15px,
  lg: 25px,
  xl: 40px,
  xxl: 50px,
);
@each $direction in map-keys($spacings-directions) {
  @each $size, $value in $spacings-sizes {
    .padding-#{$direction}-#{$size} {
      padding-#{$direction}: $value;
    }

    .margin-#{$direction}-#{$size} {
      margin-#{$direction}: $value;
    }
  }
}
