@import "reset";
@import "font";
@import "spaces";
@import "buttons";
@import "mixins";
@import "animation";

body {
  font-family: $font-default;
}

#nav-bar {
  @include grid(row, space-between, center);
  background-color: $hero-color;

  p {
    color: $light-color;
    @include font-style(20px, 400);
  }

  ul {
    @include grid(row);
    gap: 30px;

    a {
      color: $light-color;
      text-decoration: none;
    }
  }
}

#main {
  @include grid(row, space-between, center);
  background-color: $hero-color;

  div.col:nth-of-type(1) {
    @include grid(column, center, flex-start);
    gap: 30px;
    flex-basis: 50%;

    @media screen and (max-width: 1200px) {
      flex-basis: 100%;
      padding: 50px 0;
    }

    h1 {
      @include font-style(60px, 550);
      @include animate-from-top(1s, 10px, 0, 300ms);
      max-width: 50%;

      @media screen and (max-width: 526px) {
        @include font-style(50px, 550);
        max-width: 80%;
      }
    }
    p {
      max-width: 80%;
      color: $light-color;
      @include font-style(20px, 400);

      @media screen and (max-width: 526px) {
        @include font-style(16px, 400);
      }
    }

    div {
      @include grid(row);
      gap: 15px;

      button:first-of-type {
        @include animate-from-top(1s, 10px, 0, 800ms);
      }
      button:nth-of-type(2) {
        @include animate-from-top(1s, 10px, 0, 900ms);
      }
      button:last-of-type {
        @include animate-from-top(1s, 10px, 0, 1000ms);
      }
    }
  }

  img {
    @include floating;
    @include animate-from-top(1s, -100%, 20%, 500ms);
    position: relative;
    top: 30px;
    right: 100px;
    height: 600px;
    width: 600px;

    @media screen and (max-width: 1200px) {
      display: none;
    }
  }
}

section {
  margin-top: 150px;

  @media screen and (max-width: 1200px) {
    margin-top: 50px;
  }
  div {
    @include grid(row, center);
    flex: 1 1 calc((100% / 4) - 10px);

    @media screen and (max-width: 1200px) {
      @include grid(row, space-around, center);
      flex-wrap: wrap;
      flex: 1 1 calc((100% / 2) - 20px);
      gap: 20px;
    }
    @media screen and (max-width: 526px) {
      @include grid(column, space-around, center);
      gap: 20px;
    }

    img {
      width: 70%;
      @include floating;
    }
  }
}
